/* MOST IMPORTANT */
section {
    padding: 0rem;
    max-width: 1200px;
    margin: 0 auto;
}

.empty {
    padding: 1.5rem;
    background-color: var(--white);
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--red);
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.disabled {
    pointer-events: none;
    user-select: none;
    opacity: .5;
}

@keyframes fadeIn {
    0% {
        transform: translateY(1rem);
    }
}


nav,
footer {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;

}


*::selection {
    background-color: var(--main-color);
    color: var(--white);
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body {
    background-color: var(--light-bg);
}

.underline {

    text-decoration: none;

}

html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
}

:root {
    --main-color: #2980b9;
    --orange: #f39c12;
    --red: #e74c3c;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --uitm-color: #90267f;
}

/* END OF MOST IMPORTANT */
/* HEADER PART */
.header {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo {
    font-size: 1.5rem;
    color: var(--black);
}

.header .flex .logo span {
    color: var(--main-color);
}

.header .flex .navbar a {
    margin: 0 1rem;
    font-size: 1.2rem;
    color: var(--black);
}

.header .flex .navbar a:hover {
    color: var(--main-color);
    text-decoration: underline;
}


.header .flex .icons>* {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black);
}

.header .flex .icons>*:hover {
    color: var(--main-color);
}

.header .flex .icons a span {
    font-size: 2rem;
}

.header .flex .profile {
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
    width: 30rem;
    padding-top: 1.2rem;
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .profile.active {
    display: inline-block;
}

.header .flex .profile p {
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;

    .message {
        position: sticky;
        top: 0;
        max-width: 1200px;
        margin: 0 auto;
        background-color: var(--light-bg);
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
        z-index: 1100;
    }

    .message span {
        font-size: 2rem;
        color: var(--black);
    }

    .message i {
        cursor: pointer;
        color: var(--red);
        font-size: 2.5rem;
    }

    .message i:hover {
        color: var(--black);
    }

}

/* END OF HEADER PART */
@media only screen and (max-width: 600px) {
    table {
        width: 100%;
    }

    thead {
        display: none;
    }

    tr:nth-of-type(2n) {
        background-color: inherit;
    }

    tr td:first-child {
        background: #f0f0f0;
        font-weight: bold;
        font-size: 1.3em;
        text-align: center;
    }

    tbody td {
        display: block;
        text-align: center;
    }

    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align: left;
    }
}



@media (max-width:991px) {

    html {
        font-size: 58%;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--white);
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }



}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

}

.btn,
.delete-btn,
.option-btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    color: var(--white);
    cursor: pointer;
    text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
    background-color: var(--black);
}

.btn {
    background-color: var(--main-color);
}

.option-btn {
    background-color: var(--orange);
}

.delete-btn {
    background-color: var(--red);
}

.flex-btn {
    display: flex;
    gap: 1rem;
}

/* FORM PROCESSING */
.form-container form {
    background-color: var(--white);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    text-align: center;
    margin: 0 auto;
    max-width: 50rem;
}


.form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;

}

.form-container form p {
    font-size: 2rem;
    color: var(--light-color);
    margin: 1.5rem 0;
}

.form-container form .box {
    margin: 1rem 0;
    background-color: var(--light-bg);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    width: 100%;
    border-radius: .5rem;
}

/* END OF FORM PROCESSING */

/* FOOTER */

.footer {
    background-color: var(--white);
    /* padding-bottom: 7rem; */
}

.footer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.footer .grid .box h3 {
    font-size: 2rem;
    color: var(--black);
    margin-bottom: 2rem;
    text-transform: capitalize
}

.footer .grid .box a {
    display: block;
    margin: 1.5rem 0;
    font-size: 1.7rem;
    color: var(--light-color);
}

.footer .grid .box a i {
    padding-right: 1rem;
    color: var(--main-color);
    transition: .2s linear;
}

.footer .grid .box a:hover {
    color: var(--main-color);
}

.footer .grid .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding: 2.5rem 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color: var(--black);
}

.footer .credit span {
    color: var(--main-color);
}

